doctype html
html(lang=lang)
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    
    title= title
    
    link(rel='stylesheet', href='/stylesheets/style.css')
  
  body
    form(method="POST")
      if lang != 'en'
        input(type="image" src="images/gb.png", alt=__('locales.english'), formaction="/locales/en") 
      if lang != 'de'
        input(type="image" src="images/de.png", alt=__('locales.german'), formaction="/locales/de") 
      if lang != 'ru'
        input(type="image" src="images/ru.png", alt=__('locales.russian'), formaction="/locales/ru") 

    block content

    script(src='js/jquery.min.js')
    script(src='js/tether.min.js')
    script(src='js/bootstrap.min.js')
