include mixins.pug

doctype html
html(lang=lang)
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    
    title= title
    
    link(rel='stylesheet', href='/stylesheets/style.css')
  
  body
    nav.navbar.navbar-expand-md.navbar-light.bg-faded  
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      a.navbar-brand(href='/') Nodepage

      .collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.mr-auto
          +nav-item('/', __('home.Home'))
          +nav-item('/contact', __('home.contact'))
        form.form-inline.my-2.my-lg-0(method="POST")
          if lang != 'en'
            input.flag(type="image" src="images/gb.png", alt=__('locales.english'), formaction="/locales/en") 
          if lang != 'de'
            input.flag(type="image" src="images/de.png", alt=__('locales.german'), formaction="/locales/de") 
          if lang != 'ru'
            input.flag(type="image" src="images/ru.png", alt=__('locales.russian'), formaction="/locales/ru") 

    block content

    hr
    footer.container
      .row.justify-content-center
        .col-xs-2
          +a('/imprint', __('home.imprint'))
    

    script(src='js/jquery.min.js')
    script(src='js/tether.min.js')
    script(src='js/bootstrap.min.js')
